<!DOCTYPE html>
<html ng-app="SnippetShare">
<head lang="en">
    <meta charset="UTF-8">
    <title>Guest Book</title>
    <style>
        .mydiv {
          height:100vh;
          overflow-y: scroll;
        }
    </style>
</head>
<body ng-controller="MainController">
    {% load staticfiles %}
    <script src="{% static 'jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'CodeMirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'Angular/angular.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CodeMirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'CodeMirror/theme/cobalt.css' %}">
    <script src="{% static 'CodeMirror/mode/python/python.js' %}"></script>
    <script src="{% static 'CodeMirror/mode/javascript/javascript.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

    <div class="container-fluid">
        <div class="row">
    		<div class="col-lg-9">
    			<div class="row" style="height:5vh">
    				<div class="col-lg-12">
                        <div class="panel panel-body">
                            <input class="btn btn-default glyphicon-search" type="button" ng-click="postSnippet()" value="Submit snippet" />
                        </div>
    				</div>
    			</div>
    			<div class="row" style="height:70vh">
    				<div class="col-md-12">
                        <!-- <span type="text" id="view"></span> -->
                        <textarea id="view"></textarea>
    				</div>
    			</div>
                <div class="row" style="height:25vh">
    				<div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel panel-body">
                                <form method="post" action="/comment/{{id}}/">
                                    {% csrf_token %}
                                    <input type="text" name="text" />
                                    <p></p>
                                    <input type="submit" value="Comment"/>
                                </form>
                            </div>
                        </div>
    				</div>
    			</div>
            </div>
            <div class="col-lg-3 mydiv">
                {% for comment in comments %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{comment.user.username}}</h3>
                    </div>
                    <div class="panel-body">
                        {{comment.text}}
                    </div>
                    <div class="panel-footer">{{comment.date}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        angular.module('SnippetShare', [])
            .config(function($httpProvider) {
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            })
            .factory('SnippetService', ['$http', function($http) {
                return {
                    link: '/api/snippet/{{id}}/',
                    fetchSnippet: function(callback) {
                        $http.get(this.link, {})
                            .then(function(response) {
                                return callback(response.data);
                            });
                    },
                    sendSnippet: function(content) {
                        $http.put(this.link, content);
                    }
                };
            }])
            .controller('MainController', ['$scope', 'SnippetService', function($scope, SnippetService) {
                var mode = "javascript";

                $scope.code = null;
                $scope.myCodeMirror = CodeMirror.fromTextArea(document.getElementById("view"), {
                    lineNumbers: true,
                    indentUnit: 4
                });

                var updateSnippet = function() {
                    SnippetService.fetchSnippet(function(data) {
                        console.log(data);
                        $scope.code = data;
                        $scope.myCodeMirror.setValue(data[0].fields.text);
                    });
                }
                $scope.postSnippet = function() {
                    var content = $scope.myCodeMirror.getValue();
                    console.log(content);
                    SnippetService.sendSnippet(content);
                }
                updateSnippet();
            }]);
    </script>
</body>
</html>
