{% extends "base.html" %}

{% block heading %}
<h1>Your snippets</h1>
<p>
    This website allows you to write your code snippets, which are available to all the others.
</p>
{% endblock %}

{% block content %}
<style>
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
html {
    background: url(http://upload.robinbrons.com/u/1362757499.png);
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.event {
  width: 300px;
  height: 80px;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin: 50px;
}
.event:before {
  content: '';
  display: block;
  width: 295px;
  height: 70px;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px;
  transform: rotate(2deg);
  position: relative;
  top: 12px;
  left: 2px;
  z-index: -1;
}
.event:after {
  content: '';
  display: block;
  width: 295px;
  height: 75px;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px;
  transform: rotate(-2deg);
  position: relative;
  top: -136px;
  z-index: -2;
}
.event > span {
  display: block;
  width: 30px;
  background: #232323;
  position: relative;
  top: -55px;
  left: -15px;

  /* Text */
  color: #fff;
  font-size: 10px;
  padding: 2px 7px;
  text-align: right;
}
.event > .info {
  display: inline-block;
  position: relative;
  top: -75px;
  left: 40px;

  /* Text */
  color: #232323;
  font-weight: 600;
  line-height: 25px;
}
.event > .info:first-line {
  text-transform: uppercase;
  font-size: 10px;
  margin: 10px 0 0 0;
  font-weight: 700;
}
.event > .price {
  display: inline-block;
  width: 60px;
  position: relative;
  top: -85px;
  left: 115px;

  /* Text */
  color: #E35354;
  text-align: center;
  font-weight: 700;
}
</style>

<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large green darken-2" href="/new-snippet">
      <i class="material-icons">add</i>
    </a>
</div>

<div class="row">
    {% load staticfiles %}
    {% for snippet in snippets %}
    <div class="row">
        <div class="col s6 left-align">
            <div class="card green lighten-2">
                    <div class="card-content white-text green lighten-2">
                        <div class="row">
                            <div class="col s6 left-align">
                                <span class="card-title">Snippet {{snippet.0.id}}</span>
                                <p>{{snippet.0.user.username}}</p>
                            </div>
                            <div class="col s6 right-align">
                                <img src="{{snippet.0.language_image_url}}" style="height: 100px; width: 100px;" alt="" class="responsive-img">
                            </div>
                        </div>
                     </div>
                    <div class="card-action green lighten-2 ">
                      <a href='/snippet/{{snippet.0.id}}' class="white-text">View</a>
                    </div>
            </div>
        </div>
        <div class="col s6 right-align">
            {% if snippet.1 %}
            <div class="card blue-grey darken-1">
                    <div class="card-content white-text green lighten-2">
                        <div class="row">
                            <div class="col s6 left-align">
                                <span class="card-title">Snippet {{snippet.1.id}}</span>
                                <p>{{snippet.1.user.username}}</p>
                            </div>
                            <div class="col s6 right-align">
                                <img src="{{snippet.1.language_image_url}}" style="height: 100px; width: 100px;" alt="" class="responsive-img">
                            </div>
                        </div>
                     </div>
                    <div class="card-action green lighten-2">
                      <a href='/snippet/{{snippet.1.id}}' class="white-text">View</a>
                    </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</div>



<!-- <div class="collection">
    {% for snippet in snippets %}
        <a href='/snippet/{{snippet.id}}' class="collection-item">Snippet {{snippet.id}}</a>
    {% endfor %}
</div> -->
{% endblock %}
